
/*********** 字体 **************/

// 正常字体 默认字体
$fontSize16: 16px;

// 字体类型
$fontPing: 'PingFang SC';

/*********** 颜色 **************/
// 黄色
$colorYellow: #FFD66B;

// 暗蓝色
$colorBuleDark: #3DD1FF;

// 亮蓝色
$colorBuleLight: #0DF0F2;

// 白色
$colorWhite: #FFFFFF;

// 主题颜色
$theme: rgb(50, 116, 238);
